<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="DBType" value="SQLite"/>
	<add key="DBType" value="Oracle"/>
	<add key="DBType" value="SqlServer"/>
	<add key="DBType" value="PostgreSQL"/>
    <add key="ConnectionString" value="Host=localhost;Database=postgres;Username=postgres;Password=postgres"/>
    <add key="ConnectionStringSQLite" value="sqlite.db"/>
    <add key="ConnectionStringPostgreSQL" value="Host=localhost;Database=postgres;Username=postgres;Password=postgres"/>
    <add key="ConnectionStringSqlServer" value="Data Source=localhost\\DBName;User Id=UserName;Password=PASSWORD;TrustServerCertificate=True;"/>
    <add key="ConnectionStringOracle" value="Data Source=localhost:1521/dbaname;User Id=UserName;Password=PASSWORD;"/>
  </appSettings>
</configuration>